{% extends "base.html" %}

{% block title %}
翻訳
{% endblock %}

{% block contents %}
<div class="section-title">
    <h2>翻訳</h2>
    <h6>左のボックスにテキストを入力し、翻訳ボタンを押してください。</h6>
</div>
<form action="/translate" method="post">
    <div class="row">
        <!-- 翻訳元のテキスト -->
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <select name="lang1" id="lang1" class="form-select"> <!-- ❕POSTした後も保持したい -->
                        <option value="auto">自動</option>
                        <option value="ar">アラビア語</option>
                        <option value="cs">チェコ語</option>
                        <option value="da">デンマーク語</option>
                        <option value="en">英語</option>
                        <option value="es">スペイン語</option>
                        <option value="fi">フィンランド語</option>
                        <option value="fr">フランス語</option>
                        <option value="de">ドイツ語</option>
                        <option value="he">ヘブライ語</option>
                        <option value="id">インドネシア語</option>
                        <option value="it">イタリア語</option>
                        <option value="ja" selected>日本語</option>
                        <option value="ko">韓国語</option>
                        <option value="nl">オランダ語</option>
                        <option value="pl">ポーランド語</option>
                        <option value="pt">ポルトガル語</option>
                        <option value="ru">ロシア語</option>
                        <option value="sv">スウェーデン語</option>
                        <option value="tr">トルコ語</option>
                        <option value="zh">中国語（簡体字）</option>
                        <option value="zh-TW">中国語（繁体字）</option>
                    </select>
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="翻訳">
                </div>
            </div>
            <textarea style="resize: none;" name="sourceTxt" id="sourceTxt" cols="30" rows="10" class="form-control">{{ source }}</textarea>
        </div>
        
        <!-- 言語の入れ替え -->
        <div class="col-2 text-center">
            <div class="btn btn-primary" onclick="swap_langage()">
                入れ替え
            </div>
        </div>
        
        <!-- 翻訳先のテキスト -->
        <div class="col-5">
            <select name="lang2" id="lang2" class="form-select"> <!-- ❕POSTした後も保持したい -->
                <option value="ar">アラビア語</option>
                <option value="cs">チェコ語</option>
                <option value="da">デンマーク語</option>
                <option value="en" selected>英語</option>
                <option value="es">スペイン語</option>
                <option value="fi">フィンランド語</option>
                <option value="fr">フランス語</option>
                <option value="de">ドイツ語</option>
                <option value="he">ヘブライ語</option>
                <option value="id">インドネシア語</option>
                <option value="it">イタリア語</option>
                <option value="ja">日本語</option>
                <option value="ko">韓国語</option>
                <option value="nl">オランダ語</option>
                <option value="pl">ポーランド語</option>
                <option value="pt">ポルトガル語</option>
                <option value="ru">ロシア語</option>
                <option value="sv">スウェーデン語</option>
                <option value="tr">トルコ語</option>
                <option value="zh">中国語（簡体字）</option>
                <option value="zh-TW">中国語（繁体字）</option>
            </select>
            <textarea style="resize: none;" id="resultText" cols="30" rows="10" class="form-control" readonly>{{ result }}</textarea>
            
            {% if result %}
            <div class="row row-cols-auto">
                {% if audio_path %}
                <!-- 音声が存在していれば、音声ボタンを表示する（クリックして再生） -->
                <!-- <div class="col btn btn-danger" onclick="play_polly('{{audio_path}}')">
                    音声
                </div> -->
                {% endif %}

                <!-- 翻訳メモのダウンロード可 -->
                <a href="static/memo/translate_out.txt" class="col btn btn-success" download>
                    ダウンロード
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</form>

<script src="static/js/translate.js"></script>
{% endblock %}